@font-face {
    font-family: pricedown;
    src: url('pricedown.ttf');
}
.stalinist-one-regular {
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: "Stalinist One";
    margin: 0;
}

header{
    background-color: rgb(11, 11, 49);
}
.head_div{
    font-size: 15px;
    color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#head_parts{
    display: flex;
}
#head_text{
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#head_text div{
    margin: 10px;
}
#head_buttons{
    float: right;
}
#head_buttons button{
    background-color: rgb(4, 36, 4);
    color: blue;
    font-size: 15px;
    border-style:groove;
}
section.main_page{
    background-image: url('Back_picture.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1080px;

}
section.product_page{
    background-image: url('Back_picture.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(255, 0, 98);
    
}
.product_img{
    width: 30%;
}
.product_page img{
    height: 80%;
    width: 100%;
}
.product_page button{
    margin-top: 20%;
}
.product_img{
    height: 80%;
    margin: 100px;
    
}
.product_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.product_info_1{
    margin: 100px;
    border: 10px solid rgb(7, 92, 66);
    margin-bottom: 140px;
}
.product_info_2{
    margin: 100px;
    border: 10px solid rgb(7, 92, 66);
}
.main_page > div{
    margin-bottom: 40px;
}
#main_text{
    text-align: center;
    font-size: 50px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    color: rgb(255, 0, 98);
}
section button{
    background-color: rgb(4, 36, 4);
    color: blue;
    font-size: 15px;
    width: 400px;
    height: 40px;
    border-style:groove;
}
.catalog{
    background-color: rgb(11, 11, 49);
    color: rgb(255, 0, 98);
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.catalog img{
    display: flex;
    width: 100%;
    height: 50%;
}
.PC_Page{
    width: 30%;
    padding: 10px;
    border: 10px solid rgb(7, 92, 66);
    
}
#name{
    font-size: 30px;
}
#last_button button{
    width: 805px;
    margin-top: 40px;
}
.b1 + .b2{
    color: red;
}
a:active{
    color: red;
}
footer{
    background-color: rgb(11, 11, 49);
}
.footer_div{
    color: blue;
}
#first_string{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
#last_string{
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
a[href^="https"]{
    color:gray
}
#main_text::after{
    content: " !";
    color: red;
}
button:hover{
    transform: scale(1.04);
    background-color: rgb(19, 150, 100);
}
a:hover {
    color: #e74c3c;
}